.flagImage {
    width: 3rem !important;
    height: 3rem;
    border-radius: 50%;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.predicitonInput {
    text-align: center;
}

.predicitonInput::-webkit-inner-spin-button,
.predicitonInput::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
